.card {
  margin-top: 30px;
  width: 80vw;
  height: 50vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  --magnifier: 6;
  --gap: 1vmin;
  --transition: 0.5s;
}

.gallery-image {
  --brightness: 0.75;
  --grayscale: 1;
  transition: flex var(--transition), filter var(--transition);
  height: 100%;
  width: 50%;
  filter: grayscale(var(--grayscale)) brightness(var(--brightness));
  object-fit: cover;
  overflow: hidden;
  flex: 1;
}

.gallery-image:hover {
  --brightness: 1.15;
  --grayscale: 0;
  flex: 3;
}
.icon-arrow-mp {
  width: 10vh;
  height: 10vh;
  cursor: pointer;
}
